
html{
    scroll-behavior: smooth;
}

body{
    line-height: 1.6;
}

h1,h2,p{
    margin: 0;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black
}



/* ------------------------------------------------- */

.bd-grid{
    max-width: 1024px;
    display: grid;
    margin: 0%;
    grid-template-columns: 100%;
    width: 100%;
}

/* HOME */

.home{
    position: relative;
    overflow: hidden;
    background-color: #00B0FF;
}
.home_container{
    height: 96vh;
    grid-row-gap: 9em;
}

.home_title{
    font-size: 6.5rem;
    align-self: flex-end;
    line-height: .77;
    color: #FFFFFF;
}

.home_title span{
    text-shadow: 0 20px 25px rgba(0, 0, 0, .8);
}

.home_img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 295px;
    max-width: 100%;
    height: auto;
    display: block;
}


/* SECTIONS */


.section-title{
    position: relative;
    font-size: 1.45rem;;
    color: black;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.section-title::after{
    position: absolute;
    content: "";
    width: 32px;
    height: .18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: #29B6F6;
}

/* ABOUT */ 

.about_container{
    justify-content: center;
    row-gap: 2rem;
    text-align: center;
}

.about_circle{
    background-color: #00B0FF;
    width: 150px;
    margin-top: 2rem;
    height: 150px;
    padding-top: 1rem;
    border-radius: 50%;
    overflow: hidden;    
}

.education_name{
    color: #00B0FF;
    font-size: 1.4rem;
}

.about_circle img{
    padding-left: 1.6rem ;
    max-width: 100%;
    height: auto;
    display: block;
}

.about_subtitle{
    font-size: 1.25rem;
    color: #00B0FF;
    margin: .5rem;
}

.about_major{
    display: block;
    margin-bottom: 2rem;
}

.about_socialmedia{
    font-size: 2rem;
}

/* SKILLS */

.skills_name{
    position: relative;
    font-size: 1rem;;
    color:#78909C;
    text-align: center;
    margin-top: 1rem;
}

/* FOOTER */

.footer{
    background-color: #343a40;
    padding: 3rem 0;
}

.footer_container{
    row-gap: 2rem;
    padding-left: 2rem;
}

.footer_name{
    font-size: 1rem;
    color: #FFFFFF;
    margin-bottom: 1.5rem;
}


.icon_social{
    font-size: 2rem;
    padding: .20rem 0;
}

/* PORTAFOLIO */
.portafolio_container{
    justify-items: center;
    padding: 1rem;
    row-gap: 2rem;
}
@media screen and (min-width: 768px){
    :root{
        --big-font-size: 7.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

.education_container{
    justify-content: center;
    row-gap: 2rem;
    text-align: center;
}

.hobbies_container{
    row-gap: 2rem;
    text-align: center;
}
